:root {
  /* Primary */
  --cm-primary-900: #00244f;
  --cm-primary-800: #003f8a;
  --cm-primary-700: #005ac4;
  --cm-primary-600: #005ac4;
  --cm-primary-500: #0075ff;
  --cm-primary-400: #3b95ff;
  --cm-primary-300: #75b4ff;
  --cm-primary-200: #b0d4ff;
  --cm-primary-100: #ebf4ff;

  /* cmites */
  --cm-color-white: #fff;
  --cm-color-white-darker: #eff3fb;

  /* messages */
  --cm-color-success: #35c14a;
  --cm-color-error: #fe2424;

  /* text */
  --cm-color-base: #000c29;

  /* text disabled */
  --cm-color-disabled: #525c6e;
  --cm-color-disabled-soft: #adb3ba;
}
